<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>
    
    <main>
        <!-- ============= CONTAINER ============== -->
        <div class ="container">
            <!-- sidebar -->
            <div class="sidebar"></div>
            <!-- registration container -->
            <div class="registration">
                <h2 id="loginh2">LOGIN PAGE</h2>
                <!-- start form -->
                <form action="/user/login" method="post">
                    <!-- fieldset for account login -->
                    <fieldset id="signup">
                        <!-- legend for account login -->
                        <legend></legend>
                        <!-- username -->
                        <label for="username">USERNAME: </label>
                        <input 
                            type="text" 
                            name="username" 
                            placeholder="Type Your Username Here..."
                            required
                            />
                        <!-- password -->
                        <label>PASSWORD: </label>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Type Password Here..."
                            required
                            /> 
                        <!-- login button -->
                        <input type="submit" value="Login">
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
