<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>


<body>
    <%- include("../partials/header.ejs") %>
    
    <main id="userpage">
        <!-- ============= CONTAINER ============== -->
        <div class="container">
            <!-- sidebar -->
            <div class="sidebar"></div>
             <!-- registration container -->
            <div class="registration">
                <h2 id="signuph2">SIGNUP PAGE</h2>
                <!-- start form -->
                <form action="/user/signup" method="post">
                    <!-- fieldset for account signup -->
                    <fieldset id="signup">
                        <!-- legend for account login -->
                        <legend></legend>
                        <!-- username -->
                        <label for="username">USERNAME: </label> 
                        <input  
                            type="text"
                            name="username"
                            placeholder="Type New Username Here..."
                            required
                            />
                        <!-- password -->
                        <label>PASSWORD: </label>
                        <input 
                            type="password"
                            name="password"
                            placeholder="Type Password Here..."
                            required
                            />
                        <!-- signup button -->
                        <input type="submit" value="Create Account">
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</body>
</html>